{% extends 'base.html' %}
{% load static %}

{%block title %}
About

{%endblock title %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/styles/about.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="img">
            <div class="border">
                <img src="/static/profile.jpg" alt="person">
            </div>
        </div>
        <div class="content">
            <p class="profession">FullStack Developer</p>
            <h1 class="name">Bathula Thimothi</h1>
            <p class="para">Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Molestiae excepturi unde alias non illum, hic mollitia possimus dolore quidem magni at porro voluptate nostrum accusamus culpa aspernatur quasi. Tempora, cum?</p>
            <button class="btn1">Download CV</button>
            <button class="btn2"><a href="contact/">Contact</a></button>
        </div>
    </div>
   
    </div>

</body>
</html>
{% endblock body %}