{% extends 'base.html' %}

{% load static %}
{%block title %}
Projects

{%endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/styles/projects.css' %}">
</head>
<body>
  <div class="service">
    <h1>What Service I'm Providing</h1>
    <div class="cards">
        <div class="card1">
            <i class="fa-brands fa-wordpress"></i>
            <h3>Wordpress Development</h3>
           <p> Lorem ipsum dolor sit amet consectetur adipisicing
             elit. Blanditiis corrupti officia animi quos repudianda
            ae temporibus quae. Neque dolorum enim repellat?</p>
            <button><i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="card2">
            <img src="https://png.pngtree.com/png-vector/20230322/ourmid/pngtree-web-development-line-icon-vector-png-image_6662597.png" alt="">
            <h3>WebDevelopment</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Blanditiis corrupti officia animi quos repudianda
               ae temporibus quae. Neque dolorum enim repellat?</p>
               <button><i class="fa-solid fa-arrow-right"></i></button>
        </div>

        <div class="card3">
            <img src="https://cdn-icons-png.flaticon.com/512/3780/3780538.png" alt="">
            <h3>Digital Marketing</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Blanditiis corrupti officia animi quos repudianda
               ae temporibus quae. Neque dolorum enim repellat?</p>
               <button><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>
<div class="workExperience">
    <h1>Work Experience</h1>
    <div class="firstrow">
        <div class="cardWordpress">
            <h3>Wordpress</h3>
            <span>2020-2022</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dolor quos laborum, beatae voluptate quia veniam inventore 
                repellendus itaque. Expedita ut velit officia 
                sunt temporibus, ratione laboriosam optio voluptas ab praesentium.</p>
                <div id="perc"><div id="percin">Wordpress</div></div>
        </div>
        <div class="cardWebdesign">
            <h3>Web Design</h3>
            <span>2020-2022</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Odio nesciunt unde laboriosam tempora quos hic exercitationem provident ipsam obcaecati? 
                Maiores iusto dolorum veniam hic repellat repudiandae minus rem, ipsum consequuntur.</p>
                <div id="perc"><div id="percin">Web Design</div></div>
        </div>
    </div>
    <div class="secondrow">
        <div class="cardWebdevelopment">
            <h3>Web Development</h3>
            <span>2020-2022</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Odio nesciunt unde laboriosam tempora quos hic exercitationem provident ipsam obcaecati? 
                Maiores iusto dolorum veniam hic repellat repudiandae minus rem, ipsum consequuntur.</p>
                <div id="perc"><div id="percin">Web Development</div></div>
        </div>
        <div class="cardGraphic">
            <h3>Graphic Design</h3>
            <span>2020-2022</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Odio nesciunt unde laboriosam tempora quos hic exercitationem provident ipsam obcaecati? 
                Maiores iusto dolorum veniam hic repellat repudiandae minus rem, ipsum consequuntur.</p>
                <div id="perc"><div id="percin">Graphic Design</div></div>
        </div>
        <div class="cardMarketing">
            <h3>Marketing</h3>
            <span>2020-2022</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Odio nesciunt unde laboriosam tempora quos hic exercitationem provident ipsam obcaecati? 
                Maiores iusto dolorum veniam hic repellat repudiandae minus rem, ipsum consequuntur.</p>
                <div id="perc"><div id="percin">Marketing</div></div>
        </div>
    </div>
</div>
<div class="portfolio">
    <h1>My Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis</p>
    <div class="portcontent">
        <img src="./images/img1.jpg" alt="" class="img1">
        <img src="./images/img2.jpg" alt="" class="img2">
    </div>
</div>
<div class="clients">
    <h1>My Clients</h1>
    <div class="clientsrow">
        <div class="clientone">
         <img src="./images/person2.jpg" alt="">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis iure quam delectus! Harum, id corporis.</p>
         <br>
         <p>-name</p>
        </div>
        <div class="clienttwo">
            <img src="./images/person3.jpg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error eum nam reiciendis velit quas tempora.</p>
            <br>
            <p>-name</p>
        </div>
        <div class="clientthree">
            <img src="./images/person4.jpg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error eum nam reiciendis velit quas tempora.</p>
            <br>
            <p>-name</p>
        </div>
        <div class="clientfour">
            <img src="./images/person5.jpg" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error eum nam reiciendis velit quas tempora.</p>
            <br>
            <p>-name</p>
        </div>
    </div>
    
</div>
  
</body>
</html>

{% endblock body %}